*{
    margin: 0;
    padding: 0;
    overflow: hidden
    
}


html{
    /* background: url(/static/images/background/damask.jpg); */
    /* background-size:400px; */
    /* background-color: black; */
    /* background-color: white; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed; */
    /* z-index: 500; */
    overflow: hidden;
    
        /* Size of largest container or bigger */
        min-width: 1080px;
        

    
  }

.layer2{
    background: linear-gradient(rgba(96, 0, 7, .5),rgba(0 ,0 ,0 , .5)), url('/static/profile_app/images/background/damask.jpg');
    height: 355px;
    border: 3px 0px 0px 0px solid white;
}

.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li {
    display: inline-block;
    margin-right: 30px;
    font-family:  Open sans-serif, Arial;
    font-weight: 300;
    font-size: 4em;
    color: rgb(101, 0, 0);
    opacity: 1;
    transition: all 2.5s ease;
}
.fly-in-text li:last-child {
    margin-right: 0;
}
.fly-in-text.hidden li {
    opacity: 0;
}
.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }

  /* h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 48vh;
    color: #fff;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    letter-spacing: .7em;
    font-size: 20pt;
    font-weight: normal;
    opacity: .8;
    text-transform: uppercase;
  } */
  @import url('https://fonts.googleapis.com/css?family=Lora:400,700i');
  
  .circular-progress-bar {
      position: relative;
      margin: 0 auto;
    }
  
  .progress-percentage, .progress-text {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 0px 60px;
  }
  
  .progress-percentage {
      font-size: 60px;
      transform: translate(-50%, -85%);
      color: rgb(129, 4, 4);
      font-family: 'Trebuchet MS', Helvetica, sans-serif;
      
  }
  
  .progress-text {
      transform: translate(-50%, 0%);
      color: rgb(104, 5, 5);
      font-size: 30px; 
      font-family: 'Trebuchet MS', Helvetica, sans-serif;
      text-transform: uppercase;
      }
      img {
        height: 600px;
        width: 600px;
        position: fixed;
        right: 31%;
        top: -10%;
    }
    
  

    @media only screen and (max-width:1000px){
       .progress-percentage{
           font-size:10px;
       }
       .progress-text{
           font-size: 15px;
       }
       img{
           width:200px;
           height:200px;
       }
       .progress-text {
        font-size: 15px; 
        }
        .progress-percentage {
            font-size: 30px;
        }
        .fly-in-text li {
            font-size: 2em;
        }    

    }
    @media only screen and (max-width:1200px){
       .progress-percentage{
           font-size:10px;
       }
       .progress-text{
           font-size: 15px;
       }
       img{
           width:300px;
           height:300px;
       }
       .progress-text {
        font-size: 15px; 
        }
        .progress-percentage {
            font-size: 20px;
        }
        .fly-in-text li {
            font-size: 2em;
        }    

    }